*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/f-map/src/debug/res/values/google_maps_api_key.xml
/f-map/src/release/res/values/google_maps_api_key.xml
app/google-services.json